/* .App {
  text-align: center;
} */

.NewMovie {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.NewMovie h1 {
  text-align: center;
}

.NewMovie .fieldset {
  padding: 20px;
}

.NewMovie .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.NewMovie .form-data .label-one {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
}

.NewMovie .comment {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.NewMovie .textarea {
  margin-top: 10px;
  border: 0.5px solid rgb(218, 218, 218);
}

.NewMovie .form-data input:not([type='submit']) {
  flex-grow: 1;
}
